In [6]:
import pandas as pd 
import os

In [45]:
data = pd.read_csv('data.csv')
data.head(10)

who_df = data.iloc[data.groupby("Country")["Year"].agg(pd.Series.idxmax)]
who_df.reset_index(drop=True).set_index("Country")

,Year,Hospital beds (per 10 000 population)
Country,,
Afghanistan,2015,5
Albania,2013,29
Algeria,2015,19
Angola,2005,8
Antigua and Barbuda,2014,38
...,...,...
Venezuela (Bolivarian Republic of),2014,8
Viet Nam,2014,26
Yemen,2014,7
Zambia,2010,20
Zimbabwe,2011,17